<div id="footer" class="mb-5">
    <hr>
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a href="{{ $item.url }}" class="{{ $item.icon }} fa-2x" title="{{ $item.title }}"></a> &emsp;
        {{ end }}
    </div>
    {{ with .Site.Params.footer }}
        <div class="container text-right">
            <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text }}</small></a>
        </div>
    {{ end }}
    {{ with .Lastmod }}
        <div class="container text-right">
            <small>Last update {{ dateFormat "2 Jan 2006" . }}</small>
        </div>
     {{ end }}
</div>
